.header{
	&-content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logoPlusLinks{
		display: flex;
		align-items: center;
		justify-content: start;

	}
	.logo {
		width: 100%;
		height: 100%;

	}
	.navbar{
		@include robotoRegular();
		ul{
			list-style: none;
			display: flex;
			padding-left: 55px;

			li .header-link{
				display: inline-block;
				margin-right: 25px;
				color: #fff;
				text-decoration: none;
			}
		}
	}


	.user-block{
		@include robotoRegular();
		display: flex;
		align-items: center;
	}
	.user_nickname{
		color: #fff;
		font-size: 16px;
		line-height: 18.75px;
		margin-right: 11px;
	}
	.user-avatar{
		width: 33px;
		height: 33px;
		.image_user-avatar{
			width: 100%;
			height: 100%;
			border-radius: 50%;

		}
	}
}