.header-container {
  padding: 0 0 85px 0;
}

.main-container {
  padding: 35px 135px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logoPlusLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header .logo {
  width: 100%;
  height: 100%;
}
.header .navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.header .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55px;
}
.header .navbar ul li .header-link {
  display: inline-block;
  margin-right: 25px;
  color: #fff;
  text-decoration: none;
}
.header .user-block {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .user_nickname {
  color: #fff;
  font-size: 16px;
  line-height: 18.75px;
  margin-right: 11px;
}
.header .user-avatar {
  width: 33px;
  height: 33px;
}
.header .user-avatar .image_user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main-section {
  background: -webkit-gradient(linear, left bottom, left top, from(#621402), color-stop(75%), to(transparent)), url(../img/aboutFilm/bg.png) center no-repeat;
  background: linear-gradient(to top, #621402, 75%, transparent), url(../img/aboutFilm/bg.png) center no-repeat;
}

.aboutFilm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutFilm-text {
  width: 50%;
}
.aboutFilm .small-title {
  color: #fff;
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.aboutFilm .title {
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.aboutFilm .title_position {
  margin-top: 11px;
}
.aboutFilm .film-description {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.aboutFilm .durationAndRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.aboutFilm .durationAndRating_position {
  margin-top: 51px;
}
.aboutFilm .film-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.aboutFilm .film-duration .clock {
  margin-right: 14px;
}
.aboutFilm .film-duration_position {
  margin-right: 34px;
}
.aboutFilm .film-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
.aboutFilm .film-rating .imdb {
  margin-right: 12px;
}
.aboutFilm .film-rating sub {
  font-size: 16px;
}
.aboutFilm .film-trailer {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutFilm .film-trailer .playTrailer {
  width: 100px;
  height: 100px;
  border: none;
  background: transparent url(../img/aboutFilm/play-button.png) center no-repeat;
}

.session_position {
  padding-top: 46px;
  padding-bottom: 64px;
  margin-top: 67px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.session .session-label {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.session .date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
.session .date-block .date__day {
  cursor: pointer;
  width: 90px;
  height: 90px;
  text-align: center;
  padding: 9px 0px;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.session .date-block .date__day p {
  margin: 0;
}
.session .date-block .date__day p:nth-child(1) {
  font-size: 16px;
  text-transform: uppercase;
}
.session .date-block .date__day p:nth-child(2) {
  font-size: 30px;
  font-weight: 900;
}
.session .date-block .date__day p:nth-child(3) {
  font-size: 19px;
}
.session .date-block .date__day:hover {
  background-color: #FE8E05;
}
.session .date-block .date__day:hover p {
  color: #621402;
}
.session .select-wrapper {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.session .select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
}
.session .select:focus {
  outline: none;
}
.session .select option {
  background-color: gray;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */